@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f4f4f4;
  --foreground: #1f2937;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Arial", sans-serif;
}

/* Hide scrollbar for all browsers */
html, body {
  overflow-x: hidden;
}

/* For Webkit-based browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  display: none;
}
