@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f4f4f4;
  --foreground: #1f2937;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Arial", sans-serif;
}

/* Hide scrollbar for all browsers */
html, body {
  overflow-x: hidden;
}

/* For Webkit-based browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  display: none;
}

@keyframes marquee {
  0%   { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.animate-marquee {
  display: flex;
  animation: marquee 20s linear infinite;
}

@keyframes blinkPulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.8);
    opacity: 0.3;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.blink-pulse {
  animation: blinkPulse 2s ease-in-out infinite;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.animate-draw {
  stroke-dasharray: 6;
  stroke-dashoffset: 1000;
  animation: dash 2s ease-out forwards;
}

/* Custom scrollbar theme */
.scrollbar-thin::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.scrollbar-thin::-webkit-scrollbar-track {
  background: #f3f4f6; /* Tailwind gray-100 */
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #16a34a; /* Tailwind green-600 */
  border-radius: 9999px;
}
.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background-color: #15803d; /* green-700 */
}

.dark .scrollbar-thin::-webkit-scrollbar-track {
  background: #1f2937; /* Tailwind gray-800 */
}
.dark .scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #22c55e; /* green-500 */
}

html, body {
  height: 100%;
  overflow-y: auto;
}

